.section-heading {
  font-size: 24px;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 21px;
  margin-top: 0;
  text-decoration: none;
  width: max-content;
  letter-spacing: 1.3px;
}

body{
  background-color: #fff;
}

.slick-track {
  display: flex !important;
  gap: 1.25rem;
}

.slick-arrow{
  display: none !important;
}